<section>
  <div class="container">
    <h2 class="title">Frequently Asked Questions</h2>
    <p class="faq-text">
      Here I've gathered answers to the most popular questions to help you plan
      your perfect day. If you can't find the information you're looking for,
      please get in touch!
    </p>

    <ul class="faq-list ac-container" id="accordion">
      <li class="faq-item ac">
        <button type="button" class="btn-faq ac-header">
          <h3 class="faq-que-text">
            How do we book our date and how far in advance should we do it?
          </h3>

          <svg class="faq-icon" width="24" height="24">
            <use href=""></use>
          </svg>
        </button>

        <div class="faq-answer">
          <p></p>
        </div>
      </li>
    </ul>
  </div>
</section>
