<section class="feedbacks">
  <div class="container">
    <!-- section-title block -->
    <div class="feedbacks-title-wrapper">
      <h2 class="feedbacks-title">Words from Our Wonderful Couples</h2>
      <p class="feedbacks-subtitle">Read what the couples who entrusted us with their most precious memories have to
        say.
      </p>
    </div>

    <!-- section-content block -->
    <div class="feedbacks-content-wrapper swiper" tabindex="0">

      <!-- content list subblock -->
      <ul class="feedbacks-list swiper-wrapper">
        <!-- here will appearlist items -->
        <!-- generated and rendered by js -->
      </ul>

      <!-- content navigation subblock -->
      <div class="feedback-controls swiper-controls">
        <!-- navigation pagination -->
        <div class="feedbacks-pagination swiper-pagination">
          <!-- <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span> -->
        </div>
        <!-- navigation buttons -->
        <div class="feedbacks-buttons-wrapper">
          <button class="feedbacks-button-prev swiper-button-prev" type="button" aria-label="Previous slide">
            <svg width="16" height="16">
              <use href="./img/icons.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="feedbacks-button-next swiper-button-next" type="button" aria-label="Next slide">
            <svg width="16" height="16">
              <use href="./img/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>