<section class="footer" id="footer">
  <div class="container">

<div class="footer-container">

      <div class="footer-brand">
        <a class="footer-logo" href="./index.html" aria-label="Maria Kovalenko home">
          <svg class="footer-logo-icon" width="206" height="161">
            <use href="./img/icons.svg#company_logo"></use>
          </svg>
        </a>
        <p class="footer-copy"> © 2025 Maria Kovalenko Photography.<br />
          All rights reserved.
        </p>
      </div>

      <div class="footer-content">
        <h3 class="footer-title">Menu</h3>

        <nav class="footer-nav" aria-label="Footer navigation">

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#hero">Home</a>
            </li>
        
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#about">About Me</a>
            </li>
        
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#benefits">Benefits</a>
            </li>
        
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#portfolio">Portfolio</a>
            </li>
        
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#faq">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>  

      
      <div class="social-footer">
        <h3 class="footer-follow-title">Follow Me</h3>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a class="footer-soc-link" href="https://facebook.com/" target="_blank">
              <svg class="footer-icon" width="24" height="24">
                <use href="/img/icons.svg#facebook"></use>
              </svg>
              Facebook
            </a>
          </li>

          <li class="footer-social-item">
            <a class="footer-soc-link" href="https://instagram.com/" target="_blank">
              <svg class="footer-icon" width="24" height="24">
                <use href="/img/icons.svg#Instagram"></use>
              </svg>
              Instagram
            </a>
          </li>

          <li class="footer-social-item">
            <a class="footer-soc-link" href="https://x.com/" target="_blank">
              <svg class="footer-icon" width="24" height="24">
                <use href="/img/icons.svg#x"></use>
              </svg>
              X
            </a>
          </li>

        </ul>
      </div>
    </div>
</div>
    </section>    