<section class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="portfolio-title">Portfolio Highlights</h2>
    <ul class="portfolio-categories">
      <li><button class="portfolio-category-btn active" data-id="">All Photos</button></li>
    </ul>
    <ul class="portfolio-gallery">
      <!-- Portfolio items will be dynamically added here -->
    </ul>
    <progress class="progres-loaded" max="100"></progress>
    <button class="portfolio-load-more">Show More</button>
    <span class="loader hidden"></span>

    <button class="portfolio-category-btn favourits">Favourits</button>
  </div>
</section>