<section class="backdrop is-hidden" data-modal>
    <div class="modul-a">
        <ul class="modal-inf">

            <li class="modal-button">
                <button class="modal-button2" type="button" data-modal-close>
                    <svg width="32" height="32">
                        <use href="./img/icons.svg#plus"></use>
                    </svg>
                </button>
            </li>

            <li class="modal-title">
                <h3>
                    Thank You for Your Inquiry!
                </h3>
            </li>

            <li class="modal-photo">
                <picture>
                    <!-- WebP -->
                      <source
                      srcset="/img/modal/modal_image@1x.webp 1x,
                              /img/modal/modal_image@2x.webp 2x"
                      type="image/webp"
                      />

                    <!-- JPG -->
                      <source
                      srcset="/img/modal/modal_image@1x.jpg 1x,
                              /img/modal/modal_image@2x.jpg 2x"
                    />

                    <img
                      src="/img/modal/modal_image@1x.jpg"

                      alt="Wedding photos"
                      width="295"
                      height="207"
                      loading="lazy"
                    />
                  </picture>
            </li>

            <li class="modal-text">
                <p>
                    I have received your message and I'm so excited about your interest!
                    I will get in touch with you within 24-48 hours to discuss the
                    details of your wedding day. In the meantime, feel free to browse
                    my portfolio or follow me on Instagram for more inspiration.
                </p>
            </li>
        </ul>
    </div>
</section>