<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <ul class="modal-inf">

            <li class="modal-button">
                <button class="modal-button2" type="button" data-modal-close>
                    <svg width="24" height="24">
                        <use href="/src/img/icons.svg#icon-close"></use>
                    </svg>
                </button>
            </li>

            <li class="modal-title">
                <h2>
                    Thank You for Your Inquiry!
                </h2>
            </li>

            <li class="modal-photo">
                <picture>
                    <source
                        media="(max-width: 768px)"
                        srcset="
                            /src/img/about/about_me@1x.webp 1x,
                            /src/img/about/about_me@2x.webp 2x
                        "
                    />

                    <img
                        src="/src/img/about/about_me@1x.jpg"
                        alt="Wedding photos"
                    />
                </picture>
            </li>

            <li class="modal-text">
                <p>
                    I have received your message and I'm so excited about your interest!
                    I will get in touch with you within 24-48 hours to discuss the
                    details of your wedding day. In the meantime, feel free to browse
                    my portfolio or follow me on Instagram for more inspiration.
                </p>
            </li>

        </ul>
    </div>
</div>