:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --font-family: "Mulish", sans-serif;
  --second-family: "Cormorant", sans-serif;

--color-scheme-1-background: var(--color-white);
  --color-neutral-darkest: #000;
  --color-scheme-1-border: var(--color-neutral-darkest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d8d8d8;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-white);
  --color-scheme-1-accent: var(--color-curious-blue);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
  --opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
  --opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
  --opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
  --opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
  --opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
  --color-curious-blue-lightest: #fbf9f1;
  --color-curious-blue-lighter: #faf7e6;
  --color-curious-blue-light: #e6d357;
  --color-curious-blue: #dcc110;
  --color-curious-blue-dark: #b09a0c;
  --color-curious-blue-darker: #584d06;
  --color-curious-blue-darkest: #423904;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-curious-blue-lightest);
  --color-scheme-2-border: var(--color-neutral-darkest);
  --color-scheme-2-accent: var(--color-curious-blue);
  --color-scheme-2-foreground: var(--color-curious-blue-lighter);
  --red: #c40000;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-scheme-1-text);
  background-color: var(--color-scheme-2-background);
}

body {
  margin: 0;
}

section {
  padding: 64px 0;

@media only screen and (min-width: 1440px) {padding: 92px 0;}

}