.title {
  padding-bottom: 24px;
  font-size: 32px;
}

.faq-text {
  text-align: center;
  max-width: 100%;
  margin: 0 auto 80px;
}

.faq-list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  list-style: none;

  max-width: 100%;
}

.faq-item.ac {
  margin: 0 !important;
  background-color: #faf7e6 !important;
  border: 2px solid #000000 !important;
  border-radius: 24px;
  overflow: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}

.btn-faq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 24px !important;
  min-height: 67px;

  background-color: transparent;
  border: none;
  border-radius: 0px;

  cursor: pointer;
  text-align: left;
}

.faq-que-title {
  font-weight: 700;
  width: 239px;
  font-size: 18px;
  line-height: 1.5;
}

.faq-item.is-active .faq-icon {
  transform: rotate(45deg);
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-answer {
  width: 100%;
}

.faq-answer p {
  font-size: 16px;
  padding: 0 24px 24px 24px;
}

@media screen and (min-width: 768px) {
  .faq-text {
    margin: 0 auto 40px;
  }

  .faq-que-title {
    width: 608px;
  }
}

@media screen and (min-width: 1440px) {
  .faq-text {
    margin: 0 auto 80px;
    width: 768px;
  }

  .title {
    padding-bottom: 24px;
    font-size: 48px;
  }

  .faq-que-title {
    width: 672px;
  }

  .faq-list {
    max-width: 768px;
  }
}
