/* #region ---------- common styles  */
p {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  /* color: rgb(0, 0, 0, 1); */
  color: var(--color-scheme-1-text);
}
/* #endregion */

/* #region ---------- feedbacks-title   block */
.feedbacks-title-wrapper {
  margin-bottom: 40px;

  display: flex;
  gap: 24px;
  flex-direction: column;
}
.feedbacks-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
}
@media screen and (min-width: 1440px) {
  .feedbacks-title {
    font-size: 48px;
  }
}
.feedbacks-subtitle {
  /* font-weight: 400; */
  /* font-size: 18px; */
  /* line-height: 1.5; */
  /* color: rgb(0, 0, 0, 1); */
  /* color: var(--color-scheme-1-text); */
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feedbacks-subtitle {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* #endregion */

/* #region ---------- feedbacks-content block */
.feedbacks-content-wrapper {
  position: relative !important;
  /* width: 335px; */
  width: 100%;
  height: 408px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .feedbacks-content-wrapper {
    height: 492px;
  }
}
@media screen and (min-width: 1440px) {
  .feedbacks-content-wrapper {
    height: 354px;
  }
}
/* .feedbacks-list {
  width: 335px; 
  width: 100%;
  height: 328px;
} */
/* @media screen and (min-width: 768px) {
  .feedbacks-list {
    height: 412px !important;
  }
} */
/* @media screen and (min-width: 1440px) {
  .feedbacks-list {
    height: 274px !important;
  }
} */
.feedbacks-item {
  /* width: 335px; */
  width: 100%;
  height: 328px;
  height: 328px !important;
  display: flex !important;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  /* border: 2px solid rgb(0, 0, 0, 1); */
  border: 2px solid var(--color-scheme-1-border);
  border-radius: 16px;
  padding: 32px;
  /* background: rgb(250, 247, 230, 1); */
  background: var(--color-scheme-2-foreground);
}
@media screen and (min-width: 768px) {
  .feedbacks-item {
    width: 218px !important;
    height: 412px !important;
    padding: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .feedbacks-item {
    width: 421px !important;
    height: 274px !important;
    padding: 32px;
  }
}
.feedbacks-item-text {
  /* width: 271px; */
  width: 100%;
  height: 216px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  /* font-family: 'Mulish', sans-serif; */
  /* font-weight: 400; */
  /* font-size: 18px; */
  /* line-height: 1.5; */
  /* color: rgb(0, 0, 0, 1); */
  /* color: var(--color-scheme-1-text); */

  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  .feedbacks-item-text {
    height: 297px;
  }
}
.feedbacks-item-author {
  /* width: 271px; */
  width: 100%;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;

  /* font-family: 'Mulish', sans-serif; */
  font-weight: 600;
  font-size: 16px;
  /* line-height: 1.5; */
  /* color: rgb(0, 0, 0, 1); */
  /* color: var(--color-scheme-1-text); */
}
/* #endregion */

/* #region ---------- feedback-controls block  */
.feedback-controls {
  /* position: absolute !important; */
  /* bottom: 0 !important; */
  width: 100%;
  /* height: 48px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.feedbacks-pagination {
  display: flex;
  position: absolute !important;
  /* bottom: 0 !important; */
  /* left: 0 !important; */
}
.feedbacks-buttons-wrapper {
  width: 129px;
  /* height: 48px; */
  /* position: absolute !important; */
  /* bottom: 0 !important; */
  /* right: 0 !important; */
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.feedbacks-button-prev,
.feedbacks-button-next {
  position: absolute !important;
  width: 48px;
  height: 48px;
  /* border: 2px solid rgb(0, 0, 0, 1); */
  border: 2px solid var(--color-scheme-1-border);
  border-radius: 4px;
  padding: calc((48px - 16px - 2 * 2px) / 2);
  /* background: rgb(250, 247, 230, 1); */
  background: var(--color-scheme-2-foreground);

  transition: all 500ms ease;
}
.feedbacks-button-prev:hover,
.feedbacks-button-prev:focus-visible,
.feedbacks-button-next:hover,
.feedbacks-button-next:focus-visible {
  background: var(--color-curious-blue-light);
  outline: none;
}
.feedbacks-button-prev:active,
.feedbacks-button-next:active {
  box-shadow:
    inset 0 2px 4px -2px rgba(0, 0, 0, 0.06),
    inset 0 4px 8px -2px var(--opacity-neutral-darkest-10);

  background: var(--color-curious-blue-lighter);
  outline: none;
}
.feedbacks-button-prev:disabled,
.feedbacks-button-next:disabled {
  background: var(--color-scheme-1-foreground);
  opacity: 0.2;
}
/* #endregion */

/* #region ---------- swiper styles settings */
.swiper {
  position: relative;

  --swiper-navigation-size: 48px;
  /* --swiper-navigation-top-offset: calc(100% - 24px); */
  --swiper-pagination-bottom: 24px;
  /* --swiper-pagination-color: black; */
  --swiper-pagination-color: var(--color-scheme-1-text);
  /* --swiper-navigation-sides-offset: 100px; */
  --swiper-navigation-top-offset: calc(100% - 24px - 2px);
}

.swiper-button-prev {
  left: auto !important;
  right: calc(48px + 16px) !important;
  /* bottom: calc(100% - 24px) !important; */
}

.swiper-button-next {
  right: 0 !important;
  /* bottom: calc(100% - 24px) !important; */
}
/* #endregion */

/* #region ---------- custom pagination */
/* .feedbacks-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.feedbacks-pagination .dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedbacks-pagination .dot.active {
  background-color: #242527; 
} */
/* #endregion */
