.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;

  border: 2px solid #000;
  border-radius: 24px;
  padding: 48px 20px;
  width: 100%;

  background: #faf7e6;
  max-width: 335px;
}

.footer-soc-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: transform 250ms ease;
}

.footer-logo:hover,
.footer-logo:focus {
  transform: scale(1.08);
}

.footer-copy {
  font-size: 14px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  margin: 0 auto;
}

.footer-title {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav-item {
  margin: 0;
}
.footer-nav-link {
  font-weight: 400;
  font-size: 14px;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.footer-follow-title {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  width: 100%;
}

.footer-social-item {
  width: 100%;
  padding: 8px 0px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-soc-link:hover,
.footer-soc-link:focus {
  opacity: 0.7;
}

.footer-icon {
  fill: currentColor;
  flex-shrink: 0;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .footer-container {
    max-width: none;
    min-height: 384px;
    padding: 48px;

    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
  }

  .footer-soc-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .social-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 80px;
  }

  .footer-brand {
    align-items: flex-start;
    gap: 18px;
  }

  .footer-logo-icon {
    width: 128px;
    height: auto;
  }

  .footer-copy {
    text-align: left;
  }

  .footer-content {
    align-items: flex-start;
  }

  .footer-title {
    text-align: left;
  }

  .footer-nav {
    align-items: flex-start;
  }

  .footer-nav-list {
    align-items: flex-start;
    gap: 24px;
  }

  .footer-follow-title {
    text-align: left;
    align-self: flex-start;
  }

  .footer-social-list {
    align-items: flex-start;
    gap: 8px;
  }

  .footer-social-item {
    width: auto;
    padding: 0;
  }

  .footer-soc-link {
    justify-content: flex-start;
    gap: 12px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .footer-container {
    min-height: 384px;
    padding: 48px;

    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-brand {
    margin-right: auto;
  }

  .footer-soc-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .social-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    width: 166px;
  }

  .footer-logo-icon {
    width: 128px;
    height: auto;
  }

  .footer-nav {
    gap: 24px;
  }

  .footer-nav-list {
    gap: 24px;
  }

  .footer-social-item {
    padding: 0;
  }

  .footer-content {
    width: 166px;
    justify-content: space-between;
  }
}
