.portfolio-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.portfolio-category-btn {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}
.f{
  border: 2px solid #000;
}

.portfolio-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
  }
.portfolio-gallery-item {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.portfolio-gallery-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.portfolio-img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .portfolio-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }

  .portfolio-gallery-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .portfolio-gallery {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
  .portfolio-gallery-item {
     width: calc((100% - 2 * 24px) / 3);
  }
}
/*#region loadMore*/
.portfolio-load-more {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  border: 1px solid var(--color-curious-blue);
  border-radius: 6px;
  padding-block: 10px;
  padding-inline: 24px;
  width: 100%;
  height: 44px;
  background: var(--color-curious-blue);
  outline: none;
  transition: background 350ms ease-in-out;
}

.portfolio-load-more:hover {
  background: #fff;
}

.portfolio-load-more:focus,
.portfolio-load-more:focus-visible {
  background: var(--color-curious-blue);
}

.portfolio-load-more:active {
  box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.06), inset 0 4px 8px -2px rgba(0, 0, 0, 0.1);
  background: var(--color-curious-blue-light);
}

@media screen and (min-width: 768px) {
  .portfolio-load-more {
    width: 310px;
  }
}
/*#endregion loadMore*/

/*#region loader*/
.loader {
  --color-1:var(--color-curious-blue);
  --color-2: var(--color-scheme-2-background);
  --size: 1px;

  width: calc(24 * var(--size));
  height: calc(24 * var(--size));
  border-radius: 50%;
  display: block;
  margin: calc(20 * var(--size)) auto;
  position: relative;
  background: var(--color-1);
  box-shadow: 0 0 0 0 var(--color-1);
  box-sizing: border-box;
  animation: heartbeat 1.2s ease-in-out infinite;
}

@keyframes heartbeat {

  0%,
  60%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(176, 154, 12, 0.6);
    background: var(--color-1);
  }

  10% {
    transform: scale(1.35);
    background: var(--color-2);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.35);
    background: var(--color-2);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 0 calc(20 * var(--size)) rgba(255, 61, 0, 0);
  }
}
/*#endregion loader*/
.hidden {
  display: none;
}