

.modal-inf {
    position: relative;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    gap:16px;
  
    padding: 64px 20px;
  
    border-radius: 24px;
    background: #fbf9f1;
  
    list-style: none;

    width: 335px;
    height: 659px;
    max-width: 768px;
  }

.modal-text{
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    margin: 0;
}

.backdrop {
    position: fixed;
    inset: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(0, 0, 0, 0.4);
  
    opacity: 1;
    visibility: visible;
  
    transition: opacity 250ms ease, visibility 250ms ease;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .modal-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 32px;
    height: 32px;
  
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .modal-photo img {
    display: block;
  
    width: 100%;
    border-radius: 16px;
  }

  .modal-title{
    font-family: "Cormorant", sans-serif;
font-weight: 500;
font-size: 32px;
line-height: 1.2;
letter-spacing: -0.01em;
text-align: center;
color: #000;
  }